.sidebar {
  /* width: 240px; */
  background-color: #f7faff;
  color: #aeb2b7;
  display: flex;
  flex-direction: column;
  padding-left: 19px;
  padding-top: 20px;
  position: relative;
  flex: 1;
  /* text-align: center; */
  /* height: 90vh; */

  border-bottom-left-radius: 20px;
}

.sidebar-title {
  color: #9ca3af;
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* align-self: center; */
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: #9ca3af;
}

.nav-item:hover {
  background-color: #f9fafb;
}
.nav-item.active {
  /* background-color: #eef2ff; */
  color: #4f46e5;
}

.nav-icon {
  height: 1.25rem;
  width: 1.25rem;
}

.nav-label {
  font-weight: 500;
}
.setting {
  display: flex;
  gap: 0.75rem;
  /* position: absolute; */
  /* bottom: 100px; */
  margin-top: 80px;
  align-items: center;
}

.setting-word {
  font-weight: 500;
  text-align: center;
}

@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    right: -240px;
    top: 10px;
    width: 220px;
    height: 100vh;
    z-index: 20;
    transition: left 0.3s ease;
    background-color: #f9fafb;
  }

  .sidebar.open {
    right: 0;
  }
}
