.SimpleAppointmentCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.SimpleAppointment {
  background-color: #f7faff;
  /* padding: 20px; */
  border-bottom-right-radius: 20px;
}
