.appointments {
  margin-top: 20px;
  /* margin: 10px; */
}

.day-label {
  font-weight: bold;
  margin: 25px 0 15px;
  font-size: 16px;
}

.cards {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  padding: 3px;
  font-size: 16px;
  gap: 10px;
}

.card {
  background: #e6eaf4;
  padding: 15px 20px;
  border-radius: 15px;
  min-width: 220px;
  flex-grow: 1;
}

.card-title {
  color: #333359;
  font-weight: bold;
  margin-bottom: 8px;
  /* word-spacing: 1px; */
  display: flex;
  justify-content: space-between;
}

.card-time {
  font-size: 13px;
  color: #333359;
}

.schedule-title {
  color: #363456;
}
